Campus OAuth2 token management

For Campus to act as an OAuth provider (for other apps), it will need to issue user tokens. That can take the form of access keys (similar to Google), or JWT tokens.

[RFC6749 Section 3.3 allows for optional scopes, requiring a fallback/default value if not provided in the authorisation request](https://datatracker.ietf.org/doc/html/rfc6749#section-3.3).

This feature requires: 
- [x] a model for (short-lived) Campus-issued tokens
- [x] routes for OAuth2.0 token issuance, following RFC6749 or OIDC spec
- [ ] a token expiry and cleanup mechanism

Tokens should be tagged to:
- client_id
- user_id
- device/browser (user agent?)